@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: "Cinzel";
  src: url("fonts/Cinzel-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cinzel-Bold";
  src: url("fonts/Cinzel-Bold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

html {
  box-sizing: border-box;
  background-color:rgb(255 252 248/var(--tw-bg-opacity,1));
}

body > a:first-of-type {
  display: flex;
  text-transform: uppercase;
  justify-content: center;
  text-align: center;
  color: white;
  background-color: #E90606;
  padding: 10px;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 100;
}

body > a:first-of-type:hover {
  color: black;
}

h1 {
  display: inline-block;
  font-family: "Cinzel", cursive;
  font-weight: 500;
  font-style: normal;
  color: #E90606;
  font-size: 7rem;
  padding: 10px;
  margin: 20px;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid black;
  width: 0;
  text-align: center;
  animation: typing 4s steps(30, end) forwards, blink 0.75s step-end infinite;
  background-image: url('images/magazinetext.jpg');
  background-position: bottom;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

h2 {
  font-family: "Libre Franklin", sans-serif;
  font-size: 1.8rem;
  font-weight: normal;
  text-align: center;
  font-weight: 200;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

header p {
  font-family: "Libre Franklin", sans-serif;
  text-transform: uppercase;
  text-align: center;
  background-color: #363636;
  color: white;
  padding: 15px;
}

header p a {
  color: white;
}

header p a:hover {
  color: #E90606;
}

.container p a:hover {
  color: #E90606;
}

.link-github {
  display: flex;
  gap: 1em;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 100;
  font-size: 1.2rem;
  text-decoration: none;
  padding: 30px;
  border: 0.5px solid black;
  width: 250px;
  height: 50px;
  margin: 0 auto;
  color: black;
}

.link-github svg {
  width: 3em;
  height: 3em;
  fill: #E90606;
}

.link-github:hover {
  color: white;
  text-decoration: underline;
  background-color: #363636;
  border: 2px solid #E90606;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1em;
  justify-content: space-around;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 200;
  font-size: 1em;
  font-weight: 200;
  border-bottom: 1px black;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgb(239 227 220 / var(--tw-bg-opacity, 1));
}

nav ul a {
  text-decoration: none;
  color: #8b7162;
  text-transform: uppercase;
}

nav ul a:hover {
  text-decoration: underline;
  color: #E90606;
}

article .container h2 {
  font-family: "Cinzel-Bold", serif;
  font-size: 3rem;
  font-weight: 600;
  font-style: bold;
}

section p {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 200;
  font-size: 1.2rem;
  color: #363636;
  line-height: 2;
}

section p a:hover {
  color: #E90606 !important;
}

blockquote p {
  font-family: "Libre Franklin", sans-serif;
  background: #363636;
  color: white;
  padding: 20px;
  font-size: 1.3rem;
}

blockquote a {
  color: white !important;
  font-family: "Libre Franklin", sans-serif !important;
}

blockquote a:hover {
  color: #E90606 !important;
}

section p a {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 100;
  color: #363636;
}

article .container {
  outline: 15px solid #E90606;
  border: 7px solid white;
  padding: 10px;
  box-shadow: 10px 5px 5px #E90606;
}

article > section {
  margin: 70px 250px 70px 250px;
  box-shadow: 10px 5px 5px grey;
  background-color: rgb(239 227 220 / var(--tw-bg-opacity, 1));
}

section.container:nth-of-type(2) p:nth-of-type(2) {
  font-size: 1.5rem;
  margin-top: 0;
  text-align: center;
}

section ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
  padding: 0;
  justify-content: center;
}

section ul li {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 200;
  border: 1px solid black;
  color: #8b7162;
  padding: 10px;
}

.container h3 {
  font-family: "Cinzel-Bold", serif;
  src: url("fonts/Cinzel-Bold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-size: 3rem;
  text-align: center;
}

.container ol li {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 100;
  font-size: 1.2rem;
  color: #363636;
}

.container ol li a {
  color: #363636;
}


.container ol li a:hover {
  color: #E90606;
}

#files .container {
  background-color: #363636;
  border: none;
  outline: none;
  padding: 50px;
}

#files .container h3 {
  font-family: "Cinzel-Bold", "serif";
  color: white; 
  margin-top: 0;
}

#files {
  background-color:rgb(255 252 248/var(--tw-bg-opacity,1));
  padding-top: 0;
  display: flex;
  justify-content: center;
}

#files a {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 100;
  font-size: 1.2rem;
  background-color: #E90606;
  text-transform: uppercase;
  margin: 20px;
  color: white;
  line-height: 2;
  width: fit-content;
  padding: 10px 20px;
  text-decoration: none;
}

#files a:hover {
  background-color: white;
  color: #E90606;
  border: 2px solid #E90606;
  text-decoration: underline;
}


.link-guidelines {
  display: grid;
  grid-template-columns: 250px;
  text-align: center;
  justify-content: center;
  background-color: #E90606;
  color: white;
  font-family: "Libre Franklin"; sans-serif;
  text-transform: uppercase;
  font-weight: 100;
  padding: 10px 20px;
  font-size: 1.2rem;
}

.link-guidelines:hover {
  background-color: white;
  color: #E90606;
  border: 2px solid #E90606;
}

#profile-title {
  font-family: "Cinzel-Bold", serif;
  font-size: 3rem;
  text-align: center;
  color: #E90606;
  margin-bottom: 0;
}

.profile ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-items: space-between;
  gap: 0.5em;
}

.profile ul li {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 100;
  font-size: 1.2rem;
  text-align: center;
  background-color: rgb(239 227 220 / var(--tw-bg-opacity, 1));
  margin: 0 70px;
  gap: 20px;
  padding: 20px;
  color: #363636;
}

.profile ul li a {
  color:#363636;
}

.profile ul li a:hover {
  color: #E90606;
}

ul .profile-twitter span {
  background-color: transparent;
  color: #363636; 
}

ul .profile-website span {
  background-color: transparent;
  color: #363636; 
}

.profile .container {
  text-align: center;
}

.profile a[href$=".css"] {
  display: inline-block;
  background-color: #E90606 ;
  color: white;
  padding: 20px 30px;
  text-transform: uppercase;
  font-family: "Libre Franklin", "sans-serif";
  font-weight: 100;
  font-size: 1.2rem;
  text-align: center;
  text-decoration: none;
  margin-bottom: 20px;
}

.profile a[href$=".css"]:hover {
  background-color: white;
  color: #E90606;
  border: 2px solid #E90606;
}

#styles h2 {
  font-family: "Cinzel-Bold";
  font-weight: 600;
  font-size: 3rem;
  text-align: center;
  color: #E90606;
}

.container .features {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-content: space-evenly;
  align-items: stretch;
  gap: 1em;
  padding: 0;
  margin: 0;
}

.features li {
  font-family: "Libre Franklin", "sans-serif";
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 100;
  background-color: #363636;
  color: white;
  padding: 80px 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.features li a { 
  font-family: "Libre Franklin", "sans-serif";
  text-transform: uppercase;
  text-align: center;
  font-size: 3rem;
  font-weight: 100;
  color: white;
  text-decoration: none;
}

.features li:hover {
  background-color: #E90606;
  color: white;
  border: 2px solid #E90606;
}

.features li a:hover {
  color: #363636;
  text-decoration: underline;
}